-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
chex==0.1.86; python_version >= '3.9'
dm-haiku==0.0.12
etils==1.7.0; python_version >= '3.10'
flax==0.8.2
fsspec==2024.3.1
importlib-resources==6.4.0
jax==0.4.25
jaxlib==0.4.25; python_version >= '3.9'
jmp==0.0.4
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.3.2; python_version >= '3.9'
msgpack==1.0.8; python_version >= '3.8'
nest-asyncio==1.6.0; python_version >= '3.5'
numpy==1.26.4; python_version >= '3.9'
opt-einsum==3.3.0; python_version >= '3.5'
optax==0.2.2; python_version >= '3.9'
orbax-checkpoint==0.5.7; python_version >= '3.9'
protobuf==5.26.1; python_version >= '3.8'
pygments==2.17.2; python_version >= '3.7'
pyyaml==6.0.1; python_version >= '3.6'
rich==13.7.1; python_full_version >= '3.7.0'
scipy==1.12.0; python_version >= '3.9'
sentencepiece==0.2.0
tabulate==0.9.0; python_version >= '3.7'
tensorstore==0.1.56; python_version >= '3.9'
toolz==0.12.1; python_version >= '3.7'
typing-extensions==4.10.0; python_version >= '3.8'
zipp==3.18.1
